.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
.updateForm{
    width:80%;
    margin:0px auto;
    input{
    padding:10px;
    }
} 
.updateButton{
   display:block;
   margin:10px auto;
}
@media screen and (max-width:768px) { 
    .updateForm{
        display: block;
        margin:0px auto;
        padding: 10px;
        width: 100%;
    }
}