.contact-facebook{
    width: 30px;
    height: 30px;
    float: right;
    background-image:url('../../images/contact-facebook.png');
    background-size:cover;
   
}

.contact-twitter{
    width: 30px;
    height: 30px;
    margin: 0 auto !important;
    background-image:url('../../images/twitter.png');
    background-size:cover;
}

.contact-instagram{
    width: 30px;
    height: 30px;
    background-image:url('../../images/instagram.png');
    background-size:cover;

}
.social-media{
    padding-bottom: 10px
}