.MainImage{
    height:auto;
    
    img{ 
        height:auto;
        width:100%; 
        margin-bottom:10px;
        overflow: hidden !important;
        
    }
}
.page{
    margin-left:auto
    
}
.posts{
    padding-left: 0px;
    padding-bottom: 20px;
    .imagediv{
      margin-bottom: 10px !important;
        hr{
            margin-top:5px;
            margin-bottom: 5px;
        }
    }
}

.commentbest{
    padding:0px !important;
}

.ppimage{
   
    height: 40px;
    width: 40px;
    padding-right: 3px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top:10px;
    margin-left:-10px;
    
}

.option{
    float: right !important;
    
}
.MainText-PP{
    
    p{
        display: table;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 17px;
        padding-top:11px !important;
        margin-left: 10px;
        
    }
}

.icon{
    padding: 7px;
    
    img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .likeicon{
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-left:10px;   
    }
    b{
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 15px;
        padding-left:2px;
    }
 
}

.jumbotron {
   padding-top:0px !important
}

@media only screen and (max-device-width: 768px)  {
    .MainImage{
        height:100%
    }
}


@media only screen and (max-device-width: 425px)  {
    .MainImage{
        height:50%
    }
    .postTime-PP{
        margin-right: 7px !important;
        margin-top: 1px;
        float: right;
        color: #b4b6bd;
    }
    .MainText-PP{
        
        p{
            display: table;
            font-family: "Helvetica Neue";
            font-size: 18px;
            font-weight: 400;
            padding-top:10px !important;
            padding-bottom: 5px !important;
            margin-left: 10px;
            color: #333;
            
        }
    }

}

@media only screen and (min-device-width: 425px)  {

}


.postTime-PP{
    margin-top: 1px;
    float: right !important;
    color: #b4b6bd;
}

.like-PP{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../../images/like.png');
    background-size:cover;
    cursor: pointer;
    margin-top: 1px;
}

.active-PP{
    margin-top: 1px;
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../../images/like_active.png');
    background-size:cover;
    cursor: pointer;
}


.userMenu{
    padding: 0px 12px;
}
.jumbotron{
    .Loading{
        img{
            width: 100px;
            height: 100px;
            margin:0 auto;
            display:table
        }
        
    }
}

.likecomment{
    display: flex;
    .likecount{
        margin-right: 5px;
    }
    .commentcount{

    }
}

.confirmation_active-PP{
    background-image:url('../../images/confirmation_active.png') !important; 
    background-size:cover;
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
}
.confirmationUser-PP{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../../images/confirmation.png');
    background-size:cover;
    
}

.Loading{
    img{
        width: 100px;
        height: 100px;
        margin:0 auto;
        display:table
    }
    
}


