
@media only screen and (max-device-width: 425px){
    .userShare{ 
        margin-top: 35px !important
     }
}
.info-S{
    width: 15px !important;
    height: 15px !important;
    float:left;
    background-image:url('../../images/info.png');
    background-size:cover;
}
.post-count-profile{
    background-image:url('../../images/sharepost.png');
    width: 25px;
    height: 25px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}
.comment-count-profile{
    background-image:url('../../images/sharecomment.png');
    width: 25px;
    height: 25px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}

.post_type{
    background-color: #f1f1f1;
    width:100%;
    height:150px;
    cursor: pointer;
    display: table;

    i {
        font-size:30px;
        margin-left: 75px;
        margin-top: 60px;
    }

    span{
        margin: 12px auto;
        display: inherit;
        font-weight: bold;
    }

    &--active {
        border-bottom: solid 2px #d4462c;
    }
}