
@media only screen and (max-device-width: 425px){
    .userShare{ 
        margin-top: 35px !important
     }
}

.post-count-profile{
    background-image:url('../../images/sharepost.png');
    width: 25px;
    height: 25px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}
.comment-count-profile{
    background-image:url('../../images/sharecomment.png');
    width: 25px;
    height: 25px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}