.quality_user{
    background-image:url('../images/icon.png') !important;
    width: 18px !important;
    height: 18px !important;
    display: inline-flex;
    margin-left: 5px;
    margin-top:10px !important;
    background-size:cover;
}

.confirmation-ADM{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation.png');
    background-size:cover;
    cursor: pointer;
}

.confirmation_active-ADM{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation_active.png'); 
    background-size:cover;
}
@media only screen and (max-device-width: 425px)  {
    .postTime-ADM{
        margin-right: 7px !important;
        margin-top: 1px;
        float: right;
        color: #b4b6bd;
    }
 

}
.userMenu{
    padding: 0px 12px;
}
.postTime-ADM{
    margin-top: 1px;
    float: right !important;
    color: #b4b6bd;
}
.like-ADM{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../images/like.png');
    background-size:cover;
    cursor: pointer;
}

.active-ADM{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../images/like_active.png');
    background-size:cover;
    cursor: pointer;
}