.quality_user{
    background-image:url('../images/quality_user.png');
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}