.quality_user{
    background-image:url('../images/icon.png') !important;
    width: 20px !important;
    height: 20px !important;
    display: inline-flex;
    margin-left: 5px;
    margin-top:10px !important;
    background-size:cover;
}
@media only screen and (max-device-width: 425px)  {
    
    .postTimeBig{
        display: none;
    }
    .postTimeMin{
        display: inline;
    }

}
.userMenu{
    padding: 0px 12px;
}
@media only screen and (min-device-width: 425px)  {
    .postTimeBig{
        display: inline;
    }
    .postTimeMin{
        display: none;
    }

}