.row{
    margin-left:0;
    margin-right:0;
}
#login {
    bottom:50px;
}
#login input,button,h1{
    padding:10px;
    margin:10px;
}
#login h1{
    margin-left: 42%;
    margin-right:42%;
}
#login button{
    margin-left: 45%;
    margin-right:45%;
} 
#login input{
    margin-left: 35%;
    margin-right:35%;   
    width:30%;
}  
#footer {
    left:0;
    bottom:0;
    position:sticky;
    width:100%; 
}   
#root {
  padding:0px;
}
#signup {
    overflow: auto;
    bottom:50px;
}
#signup input,button,h1{
    padding:10px;
    margin:10px;
}
#signup h1{
    text-align: center;
}
#signup button{
    display: block;
    margin:0px auto;
    padding: 10px;
    width: 60%;
} 
#signup input{
    margin:5px auto 15px;   
    width:60%;
}  
#header{
    padding:10px;   
}
#description{
    margin-left: 30%;
    margin-right:30%;   
    width:50%;
}
#paginationadmin {
    margin-left: 35%;
    margin-right:35%;   
    width:50%; 
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#footer .panel {
    margin: 0!important;
}