.navbar-default{
    background-color: rgba(255, 184, 5, 1) !important
}
.row{
    margin-left:0;
    margin-right:0;
}
.navbar-nav > li > a, .navbar-brand{
    color:white !important;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
    background-color:#fd8733;
}
.login {
    bottom:50px;
}
.login input,.login button,.login h1{
    padding:10px;
    margin:10px;
}
.login h1{
    margin-left: 42%;
    margin-right:42%;
}
.login button{
    margin-left: 45%;
    margin-right:45%;
} 
.login input{
    margin-left: 35%;
    margin-right:35%;   
    width:30%;
}  
#footer {
    left:0;
    bottom:0;
    position:fixed;
    width:100%; 
}   
#root {
    padding:0px;
    overflow:-moz-scrollbars-vertical;
    overflow-x:hidden; 
    overflow:-moz-scrollbars-vertical; 
  
}
.signup {
    overflow: auto;
    bottom:50px;
}
.signup input,.signup button,.signup h1{
    padding:10px;
    margin:10px;
}
.signup input{
    margin-left:35%;
    margin-right: 35%;
    width: 30%
}  
.signup h1{
    text-align: center
}

.signup button{
    display: block;
    margin:0px auto;
    padding: 10px;
    width: 20%;
}
#header{
    padding:10px;   
}
#description{
    margin-left: 30%;
    margin-right:30%;   
    width:50%;
}
#paginationadmin {
    margin-left: 35%;
    margin-right:35%;   
    width:50%; 
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#footer .panel {
    margin: 0!important;
}
@media screen and (max-width:768px) { //768 pikselden küçükse Mobil ve Tablet
    
    .signup button{
        display: block;
        margin:0px auto;
        padding: 10px;
        width: 60%;
    } 
    .signup h1{
        text-align: center;
    }
    .signup input{
        margin:5px auto 15px;   
        width:60%;
    } 
    
    
}

.show-loading-animation {
    &.rect-shape,
    &.round-shape,
    &.text-row,
    .rect-shape,
    .round-shape,
    .text-row {
      animation: react-placeholder-pulse 1.5s infinite;
    }
  }
  
  
  @keyframes react-placeholder-pulse {
    0% {
      opacity: .6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: .6;
    }
  }


  @media screen and (min-width:768px) { 
      .well{
          background-color: transparent;
          box-shadow: none;
          border:none;
      }
  }