
#login {
    bottom:50px;
}
#login input,button,h1{
    padding:10px;
    margin:10px;
}
#login h1{
    margin-left: 42%;
    margin-right:42%;
}
#login button{
    margin-left: 45%;
    margin-right:45%;
} 
#login input{
    margin-left: 35%;
    margin-right:35%;   
    width:30%;
}  
#footer {
    bottom:0;
    position:fixed;
    width:100%;    
}   
#root {
  padding:7px;
}
#signup {
    bottom:50px;
}
#signup input,button,h1{
    padding:10px;
    margin:10px;
}
#signup h1{
    margin-left: 42%;
    margin-right:42%;
}
#signup button{
    margin-left: 47%;
    margin-right:47%;
} 
#signup input{
    margin-left: 35%;
    margin-right:35%;   
    width:30%;
}  
#header{
    padding:10px;   
}
#description{
    margin-left: 30%;
    margin-right:30%;   
    width:50%;
}
#paginationadmin {
    margin-left: 35%;
    margin-right:35%;   
    width:50%; 
}
