.commentssmain{
    .row{
        padding-bottom:7px;
    }
}
.commetpp{
    height: 50px;
   

    display: table;
    img{
        width: 40px;
        height: 50px;
        margin-left:-10px;

    }
}


.commentdiv{
    position:relative;
    overflow:hidden;
    p{
    word-wrap:break-word;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
        
    }
    img{
        margin:6px;
    }

    hr{
        margin-top:5px;
        margin-bottom:5px;
    }
    .clap{
        width: 25px;
        height: 25px;
        cursor:pointer;
    }
    .crown{
        width: 25px;
        height: 25px;
        cursor:pointer;
    }
   
}

@media screen and(min-width:1024px){ 
    .commentdiv{
        position:relative ;
    
        overflow:hidden;
        p{
        word-wrap:break-word;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
       
        }
       
    }
}
@media screen and(min-width:1024px){ 
     height: 50px;
     //display: table;
     img{
         width: 0px !important;
         //display: table-cell;
         width: 40px;
         height: 50px;
 
     }
}