
.quality_user-LBC{
    background-image:url('../images/icon.png');
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-left: 1px;
    margin-top:-5px;
    background-size:cover;
}
.commentssmain{
    .row{
        padding-bottom:15px;
        
    }
}
.commetpp{
    height: 50px;
   

    display: table;
    img{
        width: 50px;
        height: 50px;
        margin-left:0px;
        border-radius: 50%;
    }
}

.commentdate{
    float: right;
    margin-top:5px;
    color: #b4b6bd;
}

.commentdiv{
    padding-top: 10px !important;
    position:relative;
    overflow:hidden;
    p{
        word-wrap:break-word;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        
    }
    .bestComment-name{
        margin-left: 8px; 
    }
    .commentdiv--area{
        padding:5px;
        .clap{
            width: 25px;
            height: 25px;
            background-image:url('../images/clapping (4).png');
            background-size:cover;
            float:left;
            margin-top:8px;
        }
       
        b{
            float:left;
            padding:5px;
           margin-top:5px;
        }
        .active{
            background-image:url('../images/clapping.png');
            
        }
        span{
            float: right;
            margin-bottom:10px;
        }
        .crown{
            width: 25px;
            height: 25px;
            background-image:url('../images/crown (2).png');
            background-size:cover;
            float:left;
            margin-top:8px;
            margin-right: 10px;
        }

        .crownactive{
            width: 25px;
            height: 25px;
            background-size:cover;
            float:left;
            margin-top:8px;
            background-image:url('../images/crown.png');
            margin-right: 10px;
        }
    }
    hr{
        margin-top:5px;
        margin-bottom:5px;
    }
    
   
}


@media screen and(min-width:1024px){ 
     height: 50px;
     //display: table;
     
     img{
         width: 0px !important;
         //display: table-cell;
         width: 40px;
         height: 50px;
 
     }
}
.bestcomment-title-LG{
    padding: 6px;
}
.config{
    padding: 10px !important;
}
@media screen and(max-width:425px){ 
    .commentssmain{
        padding-bottom: 12px;
        .row{
            padding-bottom:4px;
            
        }
    }
    .commentdiv{
        p{
            word-wrap:break-word;
            font-family: "Helvetica Neue";
            font-size: 14px;
            font-weight: 400;
            color: #333;
        }
    }

}


