
.content{
    margin: 0 auto;
    display: table;
    width: 100%;
    height: auto;
    padding: 20px;
   
    span{
        float: right;
        margin-top: -17px !important;
        margin-right: 2px;
    
    }
}
.time{
    margin-top: 1px;
    float: right !important;
    color: #b4b6bd;
}
.not{
    margin-top: 1px;
    float: right !important;
    color: #b4b6bd;
}

@media only screen and (min-device-width: 769px){
    .content{
        margin: 0 auto;
        display: table;
        width: 65%;
        height: auto;
        padding: 20px;
        h2{
            padding: 10px;
            margin-top: -10px !important;
        }
       
        img{
            height: auto;
            width: 100%;
            margin-bottom: 10px;
            overflow: hidden !important;
            
        }
    }
    
}

.slider{
    position: relative;
}

.prev-slider{
    position: absolute;
    left:0;
    top:180px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width:30px;
    height:30px;

    i{
        font-size:24px;
        margin-top:3px;
        margin-left:3px;
    }
}

.next-slider{
    position: absolute;
    right:0;
    top:180px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width:30px;
    height:30px;

    i{
        font-size:24px;
        margin-top:3px;
        margin-left:3px;
    }
}