.jumbotron {
    background: rgb(238, 239, 240);
    color: rgb(53, 49, 49);
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }