.image-createcontent{
    height:200px;
    width:200px;
    border:0px rgb(201, 181, 181) solid;
    margin:0 auto;  
    overflow: hidden;
    .defaultP-createcontent{
        width: 100%;
        height:auto;
        margin:0px auto;
    }
    img{
        padding-top: 10px;
        width: 100%;
        height:auto;
        margin:0px auto;
        cursor:pointer;
      }
  
}
.write-create-content{
    textarea{
        width: 50%;
        margin: 0 auto;
    }
}

.preview-block{
    width:350px;
    margin:0 auto;
    position: relative;

    textarea{
        margin-top:15px;
    }
}

.preview-image{
    width:260px;
    height:260px;
    margin:0 auto;
    display: block;
}

.preview-remove{
    position: absolute;
    right:0;
    top:0;
    width:30px;
    height:30px;
    background-color: #ffcc00;

    i {
        font-size:26px;
    }
}