.searchImage{
    width: 20px;
    height: 20px;
    background-image:url('../images/search.png');
    background-size:cover;
}
.search-input{
    width: 400px !important;
    margin-right: 5px;
}


#bs-example-navbar-collapse-1 > div.dropDownMenu > ul > li > a{
    background-color: rgb(204, 40, 11);
}