
.confirmation_active{
    background-image:url('../images/confirmation_active.png') !important; 
}
.confirmationUser{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation.png');
    background-size:cover;
    
}
.userMenu{
    padding: 0px 12px !important
}

@media only screen and (max-device-width: 425px)  {
    .postTimeBig{
        display: none;
    }
    .postTimeMin{
        display: inline;
    }

}
@media only screen and (min-device-width: 425px)  {
    .postTimeBig{
        display: inline;
    }
    .postTimeMin{
        display: none;
    }

}

