.commentdiv{
    
    p{
        margin-left: 8px;
    }
}
.confirmation_active-LG{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation_active.png') !important; 
    background-size:cover;
}
.quality_user-LG{
    background-image:url('../images/icon.png');
    width: 18px;
    height: 18px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}
.confirmationUser-LG{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation.png');
    background-size:cover;
    
}
.postTimeLG{
    margin-top: 1px;
    float: right !important;
    color: #b4b6bd;
}
.likeLG{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../images/like.png');
    background-size:cover;
    cursor: pointer;
}
.activeLG{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../images/like_active.png');
    background-size:cover;
    cursor: pointer;
}
 .MainTextLG{
    p{
        display: table;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 17px;
        padding-top: 11px !important;
        margin-left: 10px;
        
    }
} 
.commentcount{
    cursor: pointer !important;
}
.userMenu{
    padding: 0px 12px !important
}

@media only screen and (max-device-width: 425px)  {
    .MainTextLG{
        p{
            
                display: table;
                font-family: "Helvetica Neue";
                font-size: 18px;
                font-weight: 400;
                padding-top:10px !important;
                padding-bottom: 5px !important;
                margin-left: 10px;
                color: #333;
                
            

        }
    } 
   
    .postTimeLG{
        margin-right: 7px !important;
        margin-top: 1px;
        float: right;
        color: #b4b6bd;
    }
    .dropdown-menu{
        left:-130px;
    }
}
.ana{
    margin-bottom: 8px;
}
