.MainImage{
    height: 60%;
    
    img{ 
        height:100%;
        width:100%; 
        margin-bottom:10px;
        overflow: hidden !important;
    }
}


.Main{
    padding-left: 0px;
    padding-bottom: 20px;
    .imagediv{
      //height:80%;
        hr{
            margin-top:5px;
            margin-bottom: 5px;
        }
    }
}


.commentbest{
    padding:0 !important;
}

.ppimage{

    height: 40px;
    width: 40px;
    padding-right: 3px;
    border-radius: 50%;
    vertical-align: middle;
}

.MainText{
    display:table;
    padding:3px;
    
    p{
        display: table;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        padding-top:11px !important;
        
    }
}

.icon{
    padding:5px;
    font-size:18px;
    i{
    cursor:pointer;
    font-size:18px;
    margin-left:10px;
    }
    b{
        margin-left:10px;
    }
}


.jumbotron {
   padding-top:0px !important
}

@media only screen and (max-device-width: 768px)  {
    .MainImage{
        height:100%
    }
}


@media only screen and (max-device-width: 425px)  {
    .MainImage{
        height:50%
    }
}
