.confirmation{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation.png');
    background-size:cover;
    cursor: pointer;
}

.confirmation_active{
    background-image:url('../images/confirmation_active.png');
}
.userMenu{
    padding: 0px 12px !important
}
.confirmation_admin_active{
    background-image:url('../images/confirmation_active.png');
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-size:cover;
}
.quality_user{
    background-image:url('../images/quality_confirm.png');
    width: 18px;
    height: 18px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}
