.confirmation_active-NL{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation_active.png');
    background-size:cover;
    
}
.quality_user-NL{
    background-image:url('../images/icon.png');
    width: 18px;
    height: 18px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}
.MainText p {
    display: table;
    font-family: "Helvetica Neue";
    font-size: 17px;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    margin-left: 10px;
}
.nologinlike{
    width: 25px;
    height: 25px;
    float:left;
    background-image:url('../images/like.png');
    background-size:cover;
}
.nologincommentcount{
    cursor: auto;
}
.nologinlikecount{
    padding-right: 5px;
}
@media only screen and (max-device-width: 425px)  {
    
    .postTimeNL{
       margin-right: 7px;
       margin-top: 1px;
       float: right;
       color: #b4b6bd;
    }

}
.postTimeNL{
    margin-top: 1px;
    float: right;
    color: #b4b6bd;
 }
