.commentssmain{
    .row{
        padding-bottom:20px;
        
    }
}
.commetpp{
    height: 50px;
   

    display: table;
    img{
        width: 50px;
        height: 50px;
        margin-left:0px;
        border-radius: 50%;
    }
}
.commentdate{
    float: right;
    margin-top:10px;
    color: #b4b6bd;
}

.commentdiv{
    position:relative;
    overflow:hidden;
    p{
    word-wrap:break-word;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
        
    }
    .commentdiv--area{
        padding:5px;
        .clap{
            width: 28px;
            height: 28px;
            background-image:url('../images/clapping (4).png');
            background-size:cover;
            float:left;
            margin-top:8px;
        }
       
        b{
            float:left;
            padding:5px;
            margin-top: 8px; 
        }
        .active{
            background-image:url('../images/clapping.png');
            
        }
        span{
            float: right;
            margin-bottom:10px;
        }
        .crown{
            width: 28px;
            height: 28px;
            background-image:url('../images/crown (2).png');
            background-size:cover;
            float:left;
            margin-top:8px;
            margin-right: 10px;
        }

        .crownactive{
            width: 32px;
            height: 32px;
            background-image:url('../images/crown (2).png');
            background-size:cover;
            float:left;
            margin-top:8px;
            background-image:url('../images/crown.png');
            margin-right: 10px;
        }
    }
    hr{
        margin-top:5px;
        margin-bottom:5px;
    }
    
   
}

@media screen and(min-width:1024px){ 
    .commentdiv{
        position:relative ;
        
        overflow:hidden;
        p{
        word-wrap:break-word;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
       
        }
       
    }
}
@media screen and(min-width:1024px){ 
     height: 50px;
     //display: table;
     
     img{
         width: 0px !important;
         //display: table-cell;
         width: 40px;
         height: 50px;
 
     }
}