.opanc{
    
    padding-bottom: 10px;
    margin-top: -15px;
span{
        //border: 1px solid rgb(231, 222, 222);
        padding: 5px;
        margin-right: 0px !important;
        display: table;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 17px;
        display: block;
    }
}
.confirmation_active-NL{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation_active.png');
    background-size:cover;
    
}
.quality_user-NL{
    background-image:url('../images/icon.png');
    width: 18px;
    height: 18px;
    display: inline-flex;
    margin-left: 5px;
    margin-top:5px;
    background-size:cover;
}
.MainText p {

    display: table;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    padding-top: 11px !important;
    margin-left: 10px;

   
}
.nologinlike{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../images/like.png');
    background-size:cover;
}
.nologincommentcount{
    cursor: pointer !important;
}
.nologinlikecount{
    padding-right: 5px;
}
@media only screen and (max-device-width: 425px)  {
    .opanc{
        
        padding-bottom: 10px;
        margin-top: -15px;
        
    span{
            //border: 1px solid rgb(231, 222, 222);
            display: table;
            font-family: "Helvetica Neue";
            font-weight: 400;
            color: #333;
            font-size: 15px;
        }
    }
    .postTimeNL{
       margin-right: 7px;
       margin-top: 1px;
       float: right;
       color: #b4b6bd;
    }
   
    .MainText p {
        display: table;
        font-family: "Helvetica Neue";
        font-weight: 400;
        color: #333;
        font-size: 18px;
        padding-top: 10px !important;
        padding-bottom: 5px !important;
        margin-left: 10px;
    }

}
.postTimeNL{
    margin-top: 1px;
    float: right;
    color: #b4b6bd;
 }

