.people-image{
    width: 30px;
    height: 30px;
    margin-top:7px;
    float:left;
    background-image:url('../images/team.png');
    background-size:cover;
}

.person{
    margin-bottom:10px;
    .persons{
        margin-bottom: 10px !important;
    }
}
.posts{
    .imageDiv{
        margin-bottom: 10px;
    }
   
}
.userMenu{
    padding: 0px 12px;
}
.post-title{
    margin-bottom: 10px;
}
.post-picture{
    width: 30px;
    height: 30px;
    margin-top:7px;
    float:left;
    background-image:url('../images/share.png');
    background-size:cover;
}
.post-write{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin-top:10px;
}
.people-name{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin-top:10px;
}
.hr-search{
    margin-top: 10px !important;
    margin-bottom: 10px !important; 
}
.person-image{
    .search-people-image{
        width: 70px;
        height: 70px ;
        margin-top:7px;
        float:left; 
        margin-bottom:7px !important;
        border-radius: 10% !important;
    }
   
}
.person-info{
    .person-firstname-lastname{
        margin-top:10px !important;
    }
    .role-info{
        margin-left: 0px !important;
        p{
            margin-left: 0px !important;
            font-size: 13px;
        }
        
    }
}
.Loading{
    img{
        width: 100px;
        height: 100px;
        margin: 0 auto !important;
        display:table !important;
    }
    
}
.like-LS{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../images/like.png');
    background-size:cover;
    cursor: pointer;
}

.active-LS{
    width: 20px;
    height: 20px;
    float:left;
    background-image:url('../images/like_active.png');
    background-size:cover;
    cursor: pointer;

}
@media only screen and (max-device-width: 425px)  {
    
    .postTime-LGS{
       margin-right: 7px;
       margin-top: 1px;
       float: right;
       color: #b4b6bd;
    }

}
.postTime-LGS{
    margin-top: 1px;
    float: right;
    color: #b4b6bd;
}
.confirmation_active-LGS{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation_active.png'); 
    background-size:cover;
}
.confirmationUser-LGS{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 10px;
    background-image:url('../images/confirmation.png');
    background-size:cover;
    
}
