@media only screen and (max-device-width: 765px){
    .section{
        display: none !important;
    }
}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
    color: #fff;
    cursor: not-allowed;
    background-color: #d4462c;
}
